.container-home {
  background-image: url("../styles/img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 100;
  padding: 2rem;
}

.container-login {
  background-image: url("../styles/img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 100;
  padding: 2rem;
}

.container-sign {
  background-image: url("../styles/img/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 100;
  padding: 2rem;
}
